@import url('https://fonts.googleapis.com/css?family=Raleway');

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

*{
  font-family: 'Raleway', sans-serif;
}

.esidenav {
    height: 100%;
    width: 70px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(20, 20, 20, .8);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 70px;
    color: white;
}

.user-img{
  border-radius: 50%;
  border: solid #6c132b 1.5px;
  width: 40px;
  height: 40px;
}

.icons{
  margin-top: 10px;
}

.text{
  font-size: 18px;
  margin-left: 20px;
  -webkit-animation-name: fadeInLeft;
  -webkit-animation-duration: 1s;
  position: absolute;
  margin-top: 10px;
}

.text-user{
  font-size: 25px;
  font-style: bold;
  margin-left: 20px;
  -webkit-animation-name: fadeInLeft;
  -webkit-animation-duration: 1s;
  position: absolute;
  margin-top: 3px;
}

.icons{
  list-style: none;
  padding: 0;
  align-items: center;
  align-content: center;
}

.icons li{
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 5px;
  margin: -7px;
}

.icons a{
  text-decoration: none;
  color: white;
  display: block;
  transition: 0.3s;
  padding: 7px;
  margin-left: 0px;
}

.icons li:hover {
  background: #6c132b;
}


.glyphicon{
  font-size: 3em;
} 