@import url('https://fonts.googleapis.com/css?family=Raleway');

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

*{
  font-family: 'Raleway', sans-serif;
}

.esidenav {
    height: 100%;
    width: 70px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(20, 20, 20, .8);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 70px;
    color: white;
}

.user-img{
  border-radius: 50%;
  border: solid #6c132b 1.5px;
  width: 40px;
  height: 40px;
}

.icons{
  margin-top: 10px;
}

.text{
  font-size: 18px;
  margin-left: 20px;
  -webkit-animation-name: fadeInLeft;
  -webkit-animation-duration: 1s;
  position: absolute;
  margin-top: 10px;
}

.text-user{
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
  -webkit-animation-name: fadeInLeft;
  -webkit-animation-duration: 1s;
  position: absolute;
  margin-top: 3px;
}

.icons{
  list-style: none;
  padding: 0;
  align-items: center;
  align-content: center;
}

.icons li{
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 5px;
  margin: -7px;
}

.icons a{
  text-decoration: none;
  color: white;
  display: block;
  transition: 0.3s;
  padding: 7px;
  margin-left: 0px;
}

.icons li:hover {
  background: #6c132b;
}

ul .glyphicon{
  font-size: 3em;
}

.esidenav a{
  text-decoration: none;
}

.menu{
  color: white;
  font-size: 25px;
  margin-top: 20px;
  margin-left: 10px;
  cursor:pointer;
  position: fixed;
  z-index: 1;
}

.closebtn-events{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.active{
  width: 5px;
  height: 100%;
  background-color: #6c132b;
  margin-right: 0;
  text-align: right;
}


/*Explorar*/ 

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.explorar{
  animation-name: fadeIn;
  animation-duration: 2s;
}

body{
  background-color: rgba(108, 19, 43, .8);
}

.event{
  border-radius: 8px;
  border: solid #424242 1px;
  background-color: white;
  margin: 10px;
}

.event button{
  background-color: #6c132b;
  color: white;
}

.img-event {
  height: 150px;
  max-width: 100%;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.img-event img {
  display: block;
  width: 100%;
  margin: auto;
  border-radius: 5px 5px 0px 0px;
}

.info-event{
  padding: 0px 20px 5px 20px;
}

.tittle-event{
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}

.address-event{
  font-size: 17px;
}

.event:hover{
  box-shadow: 0px 0px 20px rgb(255, 255, 255);
  transition: .5s;
}
