@import url('https://fonts.googleapis.com/css?family=Raleway');

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

*{
  font-family: 'Raleway', sans-serif;
}

.esidenav {
    height: 100%;
    width: 70px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(20, 20, 20, .8);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 70px;
    color: white;
}

.user-img{
  border-radius: 50%;
  border: solid #6c132b 1.5px;
  width: 40px;
  height: 40px;
}

.icons{
  margin-top: 10px;
}

.text{
  font-size: 18px;
  margin-left: 20px;
  -webkit-animation-name: fadeInLeft;
  -webkit-animation-duration: 1s;
  position: absolute;
  margin-top: 10px;
}

.text-user{
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
  -webkit-animation-name: fadeInLeft;
  -webkit-animation-duration: 1s;
  position: absolute;
  margin-top: 3px;
}

.icons{
  list-style: none;
  padding: 0;
  align-items: center;
  align-content: center;
}

.icons li{
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 5px;
  margin: -7px;
}

.icons a{
  text-decoration: none;
  color: white;
  display: block;
  transition: 0.3s;
  padding: 7px;
  margin-left: 0px;
}

.icons li:hover {
  background: #6c132b;
}

ul .glyphicon{
  font-size: 3em;
}

.esidenav a{
  text-decoration: none;
}

.menu{
  color: white;
  font-size: 25px;
  margin-top: 20px;
  margin-left: 10px;
  cursor:pointer;
  position: fixed;
  z-index: 1;
}

.closebtn-events{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/*.active{
  width: 5px;
  height: 100%;
  background-color: #6c132b;
  margin-right: 0;
  text-align: right;
}
*/
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.info-evento{
  animation-name: fadeIn;
  animation-duration: 2s;
  background-image: url(../images/fondo-infoevento.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 50%;
}

.bg-white{
  background-color: #6c132b;
  background-size: 100%;
  position: fixed;
  z-index: -3;
  left: 0;
  right: 0;
  padding-bottom: 25%;
  display: block;
  margin-top: 25%;
}

.bg-img{
  width: 100%;
  height: 55%;
  margin-left: 0;
  overflow: hidden;
  position: fixed;
  z-index: -1;
}

.bg-img > .fondo-evento{
  position:absolute;
  width: 100%;
}

.img-event{
  overflow: hidden;
  width: 100%;
  height: 250px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  display: block;
  max-width: none !important;
  max-width: 100%;
}

.event{
  margin-top: 10vw;
}

.event img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: auto;
}

.event button{
  background-color: #6c132b;
  color: white;
}

.date{
  background-color: white;
  margin-left: -15px;
  height: 250px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.day{
  font-size: 30px;
  margin-bottom: -25px; 
}

.day-number{
  font-size: 100px;
  margin-bottom: -20px; 
  margin-top: -20px;
  color: #6c132b;
}

.month{
  font-size: 30px;
  margin-bottom: -10px; 
  margin-top: -10px;
}

.time{
  font-size: 20px;
  margin-top: 0px;
}

.carousel-inner img{
}

.carousel-inner{
}
