@import url('https://fonts.googleapis.com/css?family=Raleway');

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

*{
  font-family: 'Raleway', sans-serif;
}

.esidenav {
    height: 100%;
    width: 70px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(20, 20, 20, .8);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 70px;
    color: white;
}

.user-img{
  border-radius: 50%;
  border: solid #6c132b 1.5px;
  width: 40px;
  height: 40px;
}

.icons{
  margin-top: 10px;
}

.text{
  font-size: 18px;
  margin-left: 20px;
  -webkit-animation-name: fadeInLeft;
  -webkit-animation-duration: 1s;
  position: absolute;
  margin-top: 10px;
}

.text-user{
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
  -webkit-animation-name: fadeInLeft;
  -webkit-animation-duration: 1s;
  position: absolute;
  margin-top: 3px;
}

.icons{
  list-style: none;
  padding: 0;
  align-items: center;
  align-content: center;
}

.icons li{
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 5px;
  margin: -7px;
}

.icons a{
  text-decoration: none;
  color: white;
  display: block;
  transition: 0.3s;
  padding: 7px;
  margin-left: 0px;
}

.icons li:hover {
  background: #6c132b;
}

ul .glyphicon{
  font-size: 3em;
}

.esidenav a{
  text-decoration: none;
}

.menu{
  color: white;
  font-size: 25px;
  margin-top: 20px;
  margin-left: 10px;
  cursor:pointer;
  position: fixed;
  z-index: 1;
}

.closebtn-events{
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
    margin-right: 50px;
    color: white;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.container-crear{
  animation-name: fadeIn;
  animation-duration: 2s;
}

.fondo{
  background-image: url(../images/fondoe.jpg);
  background-repeat: no-repeat;
  width: 100%;
  min-width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1000;
  top:0; 
  left:0;
}

.crear{
  background-color: rgba(20, 20, 20, .8);
  border-radius: 0px 0px 5px 5px;
  padding-top: 25px;
  padding-bottom: 15px;
  color: white;
  margin-top: 0px;
}

.activo{
  height: 77px;
  width: 7px;
  position: absolute;
  background-color: #6c132b;
  margin-top: -70px;
  left: 0px;
}

.head-new{
  color: rgb(20, 20, 20);
  background-color: rgb(255, 255, 255);
  margin-top: 70px;
  padding: .1px;
  text-align: center;
  border-radius: 5px 5px 0px 0px;
}

.crear input[type=submit] {
  background: #6c132b;
  transition: all .5s;
}

.crear input[type=submit]:hover {
  background: #430e1c;
  color: white;
}

.crear input[type=text]{
  color: black;
  width: 100%;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 1px 0;
  outline: none;
  padding: 3px;
  box-sizing: border-box;
  transition: 0.3s;
  position: relative;
}

.crear input[type=text]:focus {
  border-color: #6c132b;
  box-shadow: 0 0 8px 0 #6c132b;
}

.crear textarea{
  color: black;
  width: 100%;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 1px 0;
  outline: none;
  padding: 3px;
  box-sizing: border-box;
  transition: 0.3s;
  position: relative;
}

.crear textarea:focus {
  border-color: #6c132b;
  box-shadow: 0 0 8px 0 #6c132b;
}

.crear input[type=date]{
  color: black;
  width: 100%;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 1px 0;
  outline: none;
  padding: 3px;
  box-sizing: border-box;
  transition: 0.3s;
  position: relative;
}

.crear input[type="date"]:focus {
  border-color: #6c132b;
  box-shadow: 0 0 8px 0 #6c132b;
}

.crear input[type=time]{
  color: black;
  width: 100%;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 1px 0;
  outline: none;
  padding: 3px;
  box-sizing: border-box;
  transition: 0.3s;
  position: relative;
}

.crear input[type="time"]:focus {
  border-color: #6c132b;
  box-shadow: 0 0 8px 0 #6c132b;
}

.crear select{
  color: black;
  width: 100%;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 1px 0;
  outline: none;
  padding: 3px;
  box-sizing: border-box;
  transition: 0.3s;
  position: relative;
}

.crear select:focus {
  border-color: #6c132b;
  box-shadow: 0 0 8px 0 #6c132b;
  outline: none;
}

.crear input[type=file] {
  width: 0.1px;
 height: 0.1px;
 opacity: 0;
 overflow: hidden;
 position: absolute;
 z-index: -1;
  
}

.crear label[for=imagen] {
  margin-top: -5px;
 font-size: 15px;
 color: white;
 background: #6c132b;
 display: inline-block;
 transition: all .5s;
 cursor: pointer;
 padding: 10px;
 width: 100%;
 text-align: center;
 border-radius: 5px;
 }

.crear label[for=imagen]:hover {
 background: #430e1c;
  color: white;
}

.btn{
  background: #6c132b;
  color: white;
  font-size: 18px;
  width: 200px;
  transition: 0.3s;
}

.btn:hover {
  background: #430e1c;
  color: white;
}

.popup {
  border-radius: 5px;
  margin-top: 22rem;
  background: #fff;       
  border: 1px solid #999;
  z-index: 999; 
  text-align: center
}   

.header{
  font-size: 30px;
  text-align: center;
  background-color: #6c132b;
  margin: -21px -16px 0px -16px;
  padding: .5px;
  color: white;
  border-radius: 5px 5px 0px 0px;
}

.popup_shadow {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;   
  overflow: auto;         
  background-color: rgba(0,0,0,.8); 
  z-index: 900;         
} 

.closebtn{
  color: white;
  position: absolute;
  top: -30px;
  right: 12px;
  font-size: 36px;
  margin-left: 50px;
  transition: .5s
}

.popup a{
  text-decoration: none;
}  

.closebtn:hover{
  color: rgb(20, 20, 20);
}